* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color:blue;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Bellefair', serif;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
